@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.nav-bar{
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    
}

.nav-bar .manu ul {
    list-style-type: none;
    display: flex;
    gap: 4rem;
    color: #fff;
}

.nav-bar .manu ul li a{
    color: #fff;
}

.nav-bar .logo a h1{
    color: #fff;
}

.hero-section{
    width: 100%;
    height: 100vh   ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
    align-items: center;

    & .left-sec{    
        display: flex;
        flex-direction: column;
        align-items: right;
    }

    & .right-sec{
        & img{
            width: 40rem;
            aspect-ratio: 1;
        }
    }
}

